<div *ngIf="gamePhase == -1" class="loading-game">
  <div *ngIf="!isNoGameTemplateAvailable">
    <div class="spinner-border" role="status">
    </div>

    <p>
      Checking Story existence..
    </p>
  </div>
  <div *ngIf="isNoGameTemplateAvailable">
    <h2>
      There is no such story called {{ templateId }} which can be read
    </h2>
    <h4 class="text-muted">
      (maybe you used the wrong url, want to search for a different story?)
    </h4>
    <div style="text-align: center; margin-top: 5px;">
      <button class="btn btn-outline-warning" routerLink="/game-choice">
        Search for a Story
      </button>
    </div>
  </div>
</div>

<div *ngIf="gamePhase == 0">
  <div class="container">
    <app-game-creator [engine]="gameEngine" (callOnStartGame)="onStartGame($event)">
    </app-game-creator>
  </div>
  <a class="btn btn-warning exit-game" routerLink="/welcome" routerLinkActive="active">Exit game</a>
</div>

<div *ngIf="gamePhase == 1">
  <app-game-executioner [engine]="gameEngine" (callOnEndGame)="onEndGame($event)">
  </app-game-executioner>
</div>

<div *ngIf="gamePhase == 2">
  <app-game-reviewer [engine]="gameEngine" (callOnExploreAgain)="onExploreAgain($event)"></app-game-reviewer>
</div>