<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Do you want to create or edit a Story?</h3>
            <h4 class="text-muted">
                (the process is slightly different)
            </h4>
        </div>

        <div class="col-md-12">
            <div class="list-group">
                <button class="list-group-item list-group-item-action" [ngClass]="{ 'active': isEdit }"
                    (click)="showEdit()">
                    Edit an existing Story
                </button>
                <button class="list-group-item list-group-item-action" [ngClass]="{ 'active': isCreate }"
                    (click)="showCreate()">
                    Create a new Story
                </button>
            </div>
        </div>

        <div *ngIf="isEdit" class="col-md-12 margin-top-30">
            <div class="list-group">
                <button class="list-group-item list-group-item-action" [ngClass]="{ 'active': localSearch }"
                    (click)="showLocalSearch()">
                    Browse already played stories
                </button>
                <button class="list-group-item list-group-item-action" [ngClass]="{ 'active': storyIdInput }"
                    (click)="showStoryIdInput()">
                    I have a Story ID
                </button>
            </div>
        </div>

        <div *ngIf="isEdit && localSearch" class="col-md-12 margin-top-30">
            <app-game-template-loader [canShowWip]="true" (callOnTemplateSelect)="onLocalTemplateChoice($event)">
            </app-game-template-loader>
        </div>

        <div *ngIf="isCreate || isEdit && storyIdInput" class="col-md-12 margin-top-30">
            <div class="form-group">
                <label for="storyId">Choose a Story ID</label>
                <input type="text" class="form-control" id="storyId" [(ngModel)]="storyId" name="storyId"
                    [ngClass]="{ 'is-invalid': !storyId || storyId === lastStoryIdUsed }">
                <div *ngIf="isCreate" class="margin-top-5">
                    Take into consideration a few things:
                    <ul>
                        <li>The Story ID must be unique across all stories (even the one you didn't create)</li>
                        <li [ngClass]="{ 'invalid-color': storyId && storyId.length < 8 }">It should be at least 8
                            characters</li>
                        <li>It may contains only letters, numbers and the <strong>-</strong> character to separate
                            different words.</li>
                        <li>Once the Story is published, people will be able to open it by knowing the Story ID, either
                            by searching it or directly with a URL.</li>
                    </ul>
                </div>
            </div>

            <div class="button-container">
                <button class="btn btn-outline-warning" (click)="onStoryIdSubmit()" [disabled]="!isValidForSubmit()">
                    {{ isCreate ? 'Create new Story' : 'Edit existing Story' }}
                </button>
            </div>
        </div>
    </div>
</div>