<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Which story do you want to play?</h3>
            <h4 class="text-muted">
                (please insert the Story ID to search or choose from the stories you already played)
            </h4>
        </div>

        <div class="col-md-12">
            <div class="list-group">
                <button class="list-group-item list-group-item-action" [ngClass]="{ 'active': localSearch }"
                    (click)="showLocalSearch()">
                    Browse already played stories
                </button>
                <button class="list-group-item list-group-item-action" [ngClass]="{ 'active': storyIdInput }"
                    (click)="showStoryIdInput()">
                    I have a Story ID
                </button>
            </div>
        </div>

        <div *ngIf="localSearch" class="col-md-12 margin-top-30">
            <app-game-template-loader [canShowWip]="false" (callOnTemplateSelect)="onLocalTemplateChoice($event)">
            </app-game-template-loader>
        </div>

        <div *ngIf="storyIdInput" class="col-md-12 margin-top-30">
            <div class="form-group">
                <label for="storyId">Story ID</label>
                <input type="text" class="form-control" id="storyId" [(ngModel)]="storyId" name="storyId"
                    [ngClass]="{ 'is-invalid': storyId && storyId === lastStoryIdUsed }">
                <div *ngIf="storyId && storyId === lastStoryIdUsed" class="invalid-feedback">Sorry, there is no Story
                    matching with this ID. Try another?</div>
            </div>
            <div class="margin-top-5">
                Take into consideration a few things:
                <ul>
                    <li [ngClass]="{ 'invalid-color': storyId && storyId.length < 8 }">It must be at least 8 characters
                    </li>
                    <li>It may contains only letters, numbers and the <strong>-</strong> character.</li>
                </ul>
            </div>
            <div class="button-container">
                <button class="btn btn-outline-warning" (click)="onStoryIdSubmit()" [disabled]="!isValidForSearch()">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>